@model Q20240408.EntidadesDeNegocio.PersonaQ

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de eliminar?</h3>
<div>
    <h4>PersonaQ</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusQ)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>
